<html lang="en" ng-app="myApp">
<head>
    <title>Monitor Data Movement</title>
    <script type="text/javascript" src="../app/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../app/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../app/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="./dataMonitor.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <a href="/#/"><img class="logo" src="../images/newage_energy.jpg" alt="logo"></a>
    <h2 id="head">Smart Grid Tools</h2>
</div>
<div class="container" ng-controller="serviceCtrl">
    <h2>Monitor Data Movement</h2>  
    <table class="tabPDC mdm">
     <tr>
        <th><a href="#" ng-click="myOrder='id'; ud = !ud">ID</a></th>
        <th>Name</th>
        <th>Tech</th>
        <th><a href="#" ng-click="myOrder='hostName'; ud = !ud">Server</a></th>          
        <th><a href="#" ng-click="myOrder='lastRunTime'; ud = !ud">Last Run</a></th>
        <th>Description</th>        
        <th>Tables Updated</th> 
        <th><a href="#" ng-click="myOrder='message'; ud = !ud">Status Message</a></th>                              
    </tr>
    <tr ng-repeat="row in rows | orderBy: myOrder: ud" ng-class="{red: row.red}">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.tech}}</td>
        <td>{{row.hostName}}</td>           
        <td>{{row.lastRunTime | date}}</td>
        <td>{{row.description}}</td>        
        <td>{{row.tablesUpdated}}</td>                  
        <td>{{row.message}}</td>                         
    </tr>
    </table>
</div>
<div>{{error}}</div>
</body>
</html>