<a ui-sref="home"><img id="logo" src="./images/magog.jpg" alt="logo"></a>
<h2 class="ng-cloak inline">About Magog</h2>
<a ui-sref="about"><em>About</em></a>
<p></p>
<h3>Grid Visualization Tool</h3>
<p>This tool set is a representative part of a larger group of tools that allows users to request, manage, and comprehend extracts from the several databases of smart grid data. In particular we are monitoring these devices which represent a hierarchy from the top of the distribution grid (feeder) to the bottom (premises):</p>
<ul>
    <li>Breaker</li>
    <li>Automated Feeder Switch (AFS)</li>
    <li>Automated Lateral Switch (ALS or Trip saver)</li>
    <li>FCI (Fault Current Indicator)</li>
    <li>Smart Meter.</li>
</ul>
<h3>Feature Set</h3>
<p>Features include:</p>
<ul>
    <li>Report Faults</li>
    <li>Monitor Data Movement</li>
    <li>Manage Field Work</li>
    <li>Visualize the Network</li>
</ul>
<h3>Technical Notes</h3>
<p>All code is written for this project. The back end is written in Groovy, everything else is JavaScript. All front-end code uses Angular.
<h4>Web Server/Frameworks</h4>
 <p>The system is using four web servers and shows direct front ends and a REST API:</p>
<ul>
    <li>NodeJS/http-server for static files (menu, fault and visualization front-ends)</li>
    <li>Grails for SQL resources (monitor data movement, manage field work)</li>
    <li>NodeJS/Express for network visualization</li>
    <li>NodeJS/Express/Mongoose for fault reporting (REST API)</li>
</ul>
<p>This all runs in Windows locally (Node and MongoDB are on Red Hat Linux in the production environment).
<h4>Databases</h4>
<p>The data is stored in sevaral databases; Postgres (meter and light events), Oracle (assets and work), SQL Server (aggregated summaries), eDNA (real time data), and MongoDB (topology). </p>
    <p>The eDNA proprietary data series manager contains time series data on a half million points on the electrical grid – feeders, automated switches, voltage and current measures, and other related data, even weather. eDNA is real-time but the information needs to be combined with other sources to make sense.
<p>I have replicated parts of the SQL Server and MongoDB databases so I can develop locally. These components don't access Oracle or Postgres in real-time. I will mock the EDNA system if I need to since that can not be replicated. The Work Management System and AMI Data Warehouse are represented by replicated data.
<h4>Angular Forms and Directives</h4>
<p>Used Angular form validation, Angular ui.router, and Angular ui.bootstrap components. Custom directive for D3 and right-click.
</p>