<a ui-sref="home"><img id="logo" src="./images/magog.jpg" alt="logo"></a>
<h2 class="ng-cloak inline">Substation Visualization</h2>
<a ui-sref="about"><em>About</em></a>
<p></p>
<div>
<h3>Select an <em>action</em> on a substation</h3>
    <ul>
        <li>Avocado: <a ui-sref="diag({id:'AVOCADO'})"><em>diagram</em></a> <a ui-sref="map({id:'AVOCADO'})"><em>map</em></a>
            <a ui-sref="chart({id:'AVOCADO'})"><em>chart</em></a> <a ui-sref="list({id:'AVOCADO'})"><em>list</em></a>
        </li>
        <li>Germantown: <a ui-sref="diag({id:'GERMANTOWN'})"><em>diagram</em></a> <a ui-sref="map({id:'GERMANTOWN'})"><em>map</em></a>
            <a ui-sref="chart({id:'GERMANTOWN'})"><em>chart</em></a> <a ui-sref="list({id:'GERMANTOWN'})"><em>list</em></a>
        </li>
        <li>Grapeland: <a ui-sref="diag({id:'GRAPELAND'})"><em>diagram</em></a> <a ui-sref="map({id:'GRAPELAND'})"><em>map</em></a>
            <a ui-sref="chart({id:'GRAPELAND'})"><em>chart</em></a> <a ui-sref="list({id:'GRAPELAND'})"><em>list</em></a>
        </li>
        <li>Indian Creek: <a ui-sref="diag({id:'INDIAN_CREEK'})"><em>diagram</em></a> <a ui-sref="map({id:'INDIAN_CREEK'})"><em>map</em></a>
            <a ui-sref="chart({id:'INDIAN_CREEK'})"><em>chart</em></a> <a ui-sref="list({id:'INDIAN_CREEK'})"><em>list</em></a>
        </li>
        <li>Latin Quarter: <a ui-sref="diag({id:'LATIN_QUARTER'})"><em>diagram</em></a> <a ui-sref="map({id:'LATIN_QUARTER'})"><em>map</em></a>
            <a ui-sref="chart({id:'LATIN_QUARTER'})"><em>chart</em></a> <a ui-sref="list({id:'LATIN_QUARTER'})"><em>list</em></a>
        </li>
        <li>Normandy Beach: <a ui-sref="diag({id:'NORMANDY_BEACH'})"><em>diagram</em></a> <a ui-sref="map({id:'NORMANDY_BEACH'})"><em>map</em></a>
            <a ui-sref="chart({id:'NORMANDY_BEACH'})"><em>chart</em></a> <a ui-sref="list({id:'NORMANDY_BEACH'})"><em>list</em></a>
        </li>
        <li>Peacock: <a ui-sref="diag({id:'PEACOCK'})"><em>diagram</em></a> <a ui-sref="map({id:'PEACOCK'})"><em>map</em></a>
            <a ui-sref="chart({id:'PEACOCK'})"><em>chart</em></a> <a ui-sref="list({id:'PEACOCK'})"><em>list</em></a>
        </li>
        <li>Plumosus: <a ui-sref="diag({id:'PLUMOSUS'})"><em>diagram</em></a> <a ui-sref="map({id:'PLUMOSUS'})"><em>map</em></a>
            <a ui-sref="chart({id:'PLUMOSUS'})"><em>chart</em></a> <a ui-sref="list({id:'PLUMOSUS'})"><em>list</em></a>
        </li>
    </ul>
</div>

<div>
    <h3>Select an <em>action</em> on a substation</h3>
    <ul>
    <li ng-repeat="sub in subs"><a ui-sref="diag({ id: sub.sub })">{{sub.sub}}</a></li>
    </ul>
</div>